{% extends "SanSISCoreDwBundle:Dw:index.html.twig" %}
{% block box_title %}Relatórios / DW{% endblock %}
{% block box_content %}
    <div class="span12">
        <form id="mainForm" type="get">
                <legend></legend>
                    <div class="span12">
                        {% block graphics %}
                        {% endblock %}
                    </div>
                    <div class="span12">
                        {% block grid %}
                        <div class="span12 ">
                            <table id="grid" class="grid"></table>
                            <div id="pager" class="pager"></div>
                        </div>
                        {% endblock %}
                    </div>
        </form>
    </div>
{% endblock %}

{% block box_javascripts %}
<script>

{%  if routeParam is defined and routeParam is not null %}

function fixGrid(grid, pager)
{
    $('#' + grid).setGridWidth(parseInt($(window).innerWidth()) - 480 )
    $('#' + grid).setGridHeight(parseInt($(window).innerHeight()) - 295);
}

function fixGrids(e) {
    fixGrid('grid', 'pager');
}

$(window).bind('resize', fixGrids);

$(document).ready(function() {

    $("#grid").jqGrid({

        url:'{{ path('san_sis_core_dw_drill_search',  { 'routeParam': routeParam , 'nivel' : nivel }) }}?{% for  key, value in formData.searchData  %}{{key}}={{value}}&{% endfor %}',
        datatype: "json",
        colNames:[
            {% for item in formData.colunas %}
                '{{ item.screen_name }}',
            {% endfor %}
            'Ação'
        ],
        colModel:[
            {% for item in formData.colunas %}
                {name: '{{ item.dataview_column }}',index: '{{ item.dataview_column }}', width:130, align:"right"},
            {% endfor %}
            {name:'acao',index:'acao', width:30, align:"center"}
        ],
        scrollOffset: 0,
        forceFit:true,
        hidegrid: false,
        height: 500,
        autowidth: true,
        shrinkToFit: false,
        pager: '#pager',
        viewrecords: true,
        sortname: '{{formData.searchData.metrica}}',
        sortorder: "asc",
        rowNum: 30,
        loadComplete: function() {
            if ($(this).getGridParam("records")==0)
            {
               $( "#dialog-msg" ).dialog({
                resizable: false,
                height:140,
                modal: true,
                buttons: {
                      "Fechar": function() {
                      $( this ).dialog( "close" );
                    }
                  }}).html('Nenhum registro encontrado com estes parâmetros.');
            }
        }
     });

fixGrids();

});
{% endif %}
</script>
{% endblock %}