{% extends "SanSISCoreDwBundle:Dw:index.html.twig" %}
{% block box_title %}Relatórios / DW{% endblock %}
{% block box_content %}
    <div class="span12">
        <form id="mainForm" type="get">
            <div class="span12">
                {% block graphics %}
                {% endblock %}
            </div>
            <div class="span12">
                {% block grid %}
                <div class="jqGrid_container span ">
                    <table id="grid" class="grid"></table>
                    <div id="pager" class="pager"></div>
                </div>
                {% endblock %}
            </div>
        </form>
    </div>

    <div class="row-fluid pull-left navigation">
            <a href="{{ path('san_sis_core_dw_entry',  {'routeParam' : routeParam })}}" style="margin: 0px 20px;" class="btn btn-danger pull-left">Limpar</a>
            <a onclick="exportToExcel()" id="submit" class="btn btn-primary pull-right" style="margin: 0px 20px;">Excel</a>
    </div>
{% endblock %}

{% block box_javascripts %}
<script>

{%  if routeParam is defined and routeParam is not null %}

function exportToExcel()
{
    href = '{{ path('san_sis_core_dw_drill_export',  {'routeParam' : routeParam, 'nivel' : nivel })}}?' + $('#mainForm').serialize() + '&metrica=' + $('.metricas.btn-success').attr('metrica');
    window.location.href = href;
}

function fixGrid(grid, pager)
{
    $('.box_borda').css('height', parseInt($(window).innerHeight()) - 350)
   $('#' + grid).setGridWidth(parseInt($('.box_borda').innerWidth()) - 200 )
   $('#' + grid).setGridHeight(parseInt($('.box_borda').innerHeight()) - 180);
}

function fixGrids(e) {
    fixGrid('grid', 'pager');
}

$(window).bind('resize', fixGrids);

$(document).ready(function() {

    $("#grid").jqGrid({

        url:'{{ path('san_sis_core_dw_drill_search',  { 'routeParam': routeParam , 'nivel' : nivel }) }}?{% for  key, value in formData.searchData  %}{{key}}={{value}}&{% endfor %}',
        datatype: "json",
        colNames:[
            {% for item in formData.colunas %}
                '{{ item.screen_name }}',
            {% endfor %}
            'Ação'
        ],
        colModel:[
            {% for item in formData.colunas %}
                {name: '{{ item.dataview_column }}',index: '{{ item.dataview_column }}', width:130},
            {% endfor %}
            {name:'acao',index:'acao', width:30, align:"center"}
        ],
        scrollOffset: 0,
        forceFit:true,
        hidegrid: false,
        height: 500,
        autowidth: true,
        shrinkToFit: false,
        pager: '#pager',
        viewrecords: true,
        sortname: '{{formData.searchData.metrica}}',
        sortorder: "asc",
        rowNum: 30,
        loadComplete: function() {
            if ($(this).getGridParam("records")==0)
            {
               $( "#dialog-msg" ).dialog({
                resizable: false,
                height:140,
                modal: true,
                buttons: {
                      "Fechar": function() {
                      $( this ).dialog( "close" );
                    }
                  }}).html('Nenhum registro encontrado com estes parâmetros.');
            }
        }
     });

fixGrids();

});
{% endif %}
</script>
{% endblock %}